.contacts {
  position: fixed;
  top: 0;
  left: 0;
  width: 150px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  gap: 40px;
}

@media screen and (max-width: 945px) {
  .contacts {
    display: none;
  }
}
