.contacts__title {
  margin: 0;
  display: block;
  text-transform: uppercase;
  writing-mode: vertical-rl;
  transform: rotate(-180deg);
  color: #c4c4c4;
  font-family: "Open Sans Condensed";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 0.1em;
}
