.donate__input {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  max-width: 180px;
  max-height: 35px;
  background: #444;
  border: 1px solid #616161;
}

.donate__input::placeholder {
  padding-left: 15px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  color: #989898;
}

@media screen and (max-width: 1390px) {
  .donate__input:nth-of-type(1) {
    grid-row: 1 / 2;
    grid-column: 1 / 2;
  }
  .donate__input:nth-of-type(2) {
    grid-row: 2 / 3;
    grid-column: 1 / 2;
  }
  .donate__input:nth-of-type(3) {
    grid-row: 1 / 2;
    grid-column: 2 / 3;
  }
  .donate__input:nth-of-type(4) {
    grid-row: 2 / 3;
    grid-column: 2 / 3;
  }
}

@media screen and (max-width: 800px) {
  .donate__input {
    max-width: 100%;
  }
  .donate__input:nth-of-type(1) {
    grid-row: 1 / 2;
    grid-column: 1 / 2;
  }
  .donate__input:nth-of-type(2) {
    grid-row: 2 / 3;
    grid-column: 1 / 2;
  }
  .donate__input:nth-of-type(3) {
    grid-row: 1 / 2;
    grid-column: 2 / 3;
  }
  .donate__input:nth-of-type(4) {
    grid-row: 2 / 3;
    grid-column: 2 / 3;
  }
}
