.footer__texts {
  max-width: 1110px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 1280px) {
  .footer__texts {
    max-width: 690px;
  }
}

@media screen and (max-width: 768px) {
  .footer__texts {
    max-width: calc(100% - 40px);
    flex-direction: column;
  }
}
