.projects__photo {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  max-width: 100%;
  z-index: -1;
  opacity: 0.3;
  transition: opacity 0.3s ease-in-out;
}

.projects__photo:hover {
  opacity: 1;
}
