@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.projects__search {
  position: absolute;
  width: 100px;
  height: 100px;
  top: calc(100% / 2 - 50px);
  left: calc(100% / 2 - 50px);
}

.projects__item .projects__search {
  display: none;
}

.projects__item:hover .projects__search {
  display: block;
  -webkit-animation: fadeIn 0.3s;
  animation: fadeIn 0.3s;
}
