.projects__search {
  position: absolute;
  width: 100px;
  height: 100px;
  top: calc(100% / 2 - 50px);
  left: calc(100% / 2 - 50px);
}

.projects__item .projects__search {
  display: none;
  transition: display 0.3s ease-in-out;
}

.projects__item:hover .projects__search {
  display: block;
}
