@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.projects__search {
  position: absolute;
  width: 100px;
  height: 100px;
  top: calc(100% / 2 - 50px);
  left: calc(100% / 2 - 50px);
}

.projects__item .projects__search {
  visibility: hidden;
  -webkit-animation: fadeOut 0.5s;
  animation: fadeOut 0.5s;
  transition: visibility 0.5s ease-in-out;
}

.projects__item:hover .projects__search {
  visibility: visible;
  -webkit-animation: fadeIn 0.5s;
  animation: fadeIn 0.5s;
}
