.donate__grid {
  margin: 0;
  padding: 100px 0 0 0;
  display: grid;
  grid-template-columns: auto repeat(2, 180px) 310px;
  grid-template-rows: repeat(3 1fr);
  gap: 30px;
}

@media screen and (max-width: 1390px) {
  .donate__grid {
    grid-template-columns: repeat(2, 180px) 310px;
    grid-template-rows: repeat(4 1fr);
  }
}

@media screen and (max-width: 800px) {
  .donate__grid {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 35px) 100px 50px auto 75px;
  }
}

@media screen and (max-width: 590px) {
  .donate__grid {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(4, 35px) 100px 50px auto repeat(2, 75px);
  }
}
