.header__announcement {
  max-width: 540px;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

@media screen and (max-width: 540px) {
  .header__announcement {
    max-width: calc(100% - 20px);
    padding: 0 10px;
  }
}
