.about__box {
  padding-top: 100px;
  display: grid;
  grid-template-columns: 445px 225px 350px;
  gap: 30px;
}

@media screen and (max-width: 1440px) {
  .about__box {
    padding-left: 190px;
    grid-template-columns: 445px 225px;
  }

  .about__box .about__col:last-of-type {
    display: none;
  }
}

@media screen and (max-width: 945px) {
  .about__box {
    padding: 60px 40px 0;
  }
}

@media screen and (max-width: 768px) {
  .about__box {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .about__box .about__col:first-of-type {
    text-align: center;
  }
}
