.about__box {
  padding-top: 100px;
  display: grid;
  grid-template-columns: 445px 225px 350px;
  gap: 30px;
}

@media screen and (max-width: 1280px) {
  .about__box {
    padding-left: 190px;
    grid-template-columns: 445px 225px;
  }

  .about__box .about__col:last-of-type {
    display: none;
  }
}
