.rating {
  margin: 0 auto;
  padding: 150px 0 150px 0;
  max-width: 1100px;
  height: 550px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 103px;
  background-image: url("../../images/rating/rating__background.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

@media screen and (max-width: 1280px) {
  .rating {
    max-width: 100%;
    padding: 150px 0 150px 0;
    background-size: cover;
  }
}

@media screen and (max-width: 945px) {
  .rating {
    flex-direction: column;
    padding: 100px 10px;
    gap: 20px;
  }
}
